img.detail-picture {
    float: left;
    margin: 0 25px 30px 0;
    max-width: 270px;
}
h2 {
    clear: both;
}
@media (max-width: 991px){
    img.detail-picture {
        margin: 0 20px 15px 0;
    }
}
@media (max-width: 767px){
    img.detail-picture {
        max-width: 190px;
    }
}
@media (max-width: 575px){
        img.detail-picture {
        margin: 0 auto 15px;
        float: none;
        display: block;
        max-width: 100%;
    }
}