img.certificate__image {
    max-width: 100%;
}

a.certificate__link {
    display: block;
    margin: 0 15px;
}

img.about-image {
    max-width: 270px;
    float: left;
    margin: 0 25px 30px 0;
}
@media (max-width:767px){
    img.about-image {
        max-width: 190px;
        margin: 0 20px 15px 0;
    }
}
@media (max-width:575px){
    img.about-image {
        margin: 0 auto 15px;
        float: none;
        display: block;
        max-width: 270px;
    }
}